<html>
    <body>
        <p>Dear <strong>%s</strong>,</p>
        <p>
            Thank you for choosing GameGuard as your VPN provider!
            We appreciate your business and hope you have a great experience using our service.
        </p>
        <p>
            We are pleased to inform you that your VPN plan purchase has been successfully processed and your account details are now ready for use.
            Please find your account information below:
        </p>
        <p>
            <strong>Link:</strong> %s
        </p>
        <p>
            Please keep this information safe as it will be required to access your VPN account.
            If you have any issues with logging in or have any questions about our service, please do not hesitate to contact our support team.
        </p>
        <p>
            We would also like to remind you that our VPN plans support multiple devices, with separate data and usernames.
            This means that you can share your plan with friends or family members by simply providing us with their desired usernames.
            We'll create additional accounts for them under your plan, so they can enjoy the benefits of GameGuard VPN as well.
            You just need to reply to this email and send us the usernames that you want to add with desired limitations (if needed).
        </p>
        <p>
            Thank you for choosing GameGuard as your VPN provider.
            We look forward to serving you in the future.
        </p>
        <p>
            Best regards,<br>
            The GameGuard Team
        </p>
    </body>
</html>